.about {
  padding: 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .about-header {
    margin-bottom: 20px;

    h1 {
      color: orange;
      font-size: 36px;
      font-weight: 600;
    }

    hr {
      width: 600px;
      border: none;
      border-top: 2px solid #fff;
      margin: 10px auto;
    }
  }

  .about-content {
    margin-bottom: 50px;

    p {
      font-size: 18px;
      line-height: 1.6;
      margin-bottom: 20px;
    }
  }

  .about-techstack {
    margin-bottom: 20px;

    h2 {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 20px;
      color: orange;
    }

    .tech-list {
      margin: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;      

      .tech {
        background-color: #1a1a2e;
        padding: 10px 20px;
        border-radius: 10px;
        margin: 10px;
        text-align: center;

        h3 {
          font-size: 18px;
          color: white;
          margin-bottom: 0;
        }

        &:hover{
          background-color: orange;
          color: white;
          cursor: pointer;
        }
      }
    }
  }
}
