@import "/src/app.scss";

.about {
  padding: 20px;
  margin: 0 100px;
  color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-height: 100vh;

  .about-header {
    margin-bottom: 20px;

    h1 {
      color: orange;
      font-size: 2rem;
      font-weight: 600;

      @include mobile {
        font-size: 1.7rem;
      }
    }

    hr {
      width: 600px;
      border: none;
      border-top: 2px solid #fff;
      margin: 10px auto;

      @include mobile {
        width: 80%;
      }
    }
  }

  .about-content {
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;

    .img-container {
      width: 50%;
      max-width: 500px;
      margin-right: 20px;
      border-radius: 10px;
      overflow: hidden;

      img {
        width: 100%;
        height: 250px;
        display: block;
        border-radius: 10px;
      }

      @include mobile {
        width: 50%;
        margin-right: 0;
        margin-bottom: 20px;
      }
    }

    p {
      flex: 1;
      height: 250px;
      font-size: 18px;
      line-height: 1.6;
      margin: 2.5rem 0;

      @include mobile {
        line-height: 1.4;
        font-size: 10px;
        margin: 0.7rem;
      }
    }
  }

  .about-techstack {
    margin-bottom: 20px;

    h2 {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 20px;
      color: orange;

      @include mobile {
        font-size: 1.4rem;
      }
    }

    hr {
      width: 600px;
      border: none;
      border-top: 2px solid #fff;
      margin: 10px auto;

      @include mobile {
        width: 20%;
      }
    }

    .tech-list {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 20px;
      width: 100%;

      .tech-card {
        margin: 1rem;
        background-color: #1a1a2e;
        padding: 20px;
        border-radius: 10px;
        width: 100%;
        min-width: 250px;
        max-width: 400px;

        h3 {
          font-size: 1.2rem;
          color: orange;
          margin-bottom: 15px;
        }

        .tech-items {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          gap: 10px;

          .tech {
            background-color: #111;
            padding: 10px;
            border-radius: 5px;
            width: calc(50% - 10px);
            text-align: center;
            box-sizing: border-box;

            h3 {
              font-size: 1rem;
              color: white;
              margin: 0;
            }

            &:hover {
              background-color: orange;
              color: white;
              cursor: pointer;
            }
          }
        }

        &:hover {
          cursor: pointer;
          scale: 1.1;
        }
      }

      @include mobile {
        display: flex;
        flex-direction: row;

        .tech-card {
          font-size: 10px;
          width: 100%;
          margin-bottom: 20px;
        }
      }
    }
  }

  @include mobile {
    margin: 2.5rem;
    padding: 1rem;
  }
}
